*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }  

  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .header{
    
    font-size: 36px;
    font-weight: 900;
    padding: 40px;
    background-color : #111111;
    color: white;
    text-align: center;
  }
  
  .body{
    flex-grow: 2;
    padding: 32px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

 
  
  button{
    width: 150px;
    height: 150px;
    font-size: 24px;
    background-color: #444444;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 16px;
  }

  .buttonContainer{
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .update,.score,.result{
    color: rgb(240, 240, 240);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }




  /* */
  .footer{
    background-color: #282c2e;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
  }